{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="ml-3">{{title}}</h2>
    <div class="container-fluid "></div>
        <div class="d-flex justify-content-center">
            {% if not listings %}
                <h3>Listing Not Found!</h3>
            {% else %}
                {% for listing in listings %} 
                    <div class="p-2 m-5 listing-container ">
                        <h5>{{listing.title}}</h5>
                        <div class="category">{{listing.category}}</div>
                        <div class="my-3 mx-auto d-block">
                            <img src="{{listing.image.url}}" width="200px" class="img-same" >
                        </div>
                        <p>{{listing.description}}</p>
                        {% if listing.bid.exists %}
                            <p>Latest Bid: ${{listing.bid.last.amount}} by <strong>{{listing.bid.last.user}}</strong> </p>
                            <p>Starting Bid: ${{listing.price}}</p>
                        {% endif %}
                        {% if listing.is_active %}
                            <p>Status: <span class="text-success">Active</span></p>
                        {% else %}
                            <p>Status: <span class="text-danger">Closed</span></p>
                        {% endif %}
                        <button class="btn btn-info btn-sm"><a href="{% url 'listing' listing.id %}">View Item</a></button>  
                    </div>
                {% endfor %}
            {% endif %}
        </div>
{% endblock %}